nav{
    background-color: #575551;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.logo{
    align-self: start;
    height: 50px;
}
.nav-link{
    font-size: 24px !important;

}